$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-line-chart: "\e958";
$icon-doughnut-chart: "\e959";
$icon-info-circle: "\e956";
$icon-report: "\e951";
$icon-user-pin: "\e952";
$icon-right-arrow-circle-alt: "\e953";
$icon-down-chevron-blue: "\e954";
$icon-down-chevron-grey: "\e955";
$icon-ship: "\e94f";
$icon-bank: "\e950";
$icon-check: "\e94e";
$icon-bar-chart: "\e94d";
$icon-x: "\e94a";
$icon-expand: "\e94b";
$icon-pencil: "\e949";
$icon-purchase-tag: "\e946";
$icon-tag: "\e947";
$icon-purchase-tag-alt: "\e948";
$icon-copyright: "\e93a";
$icon-right-arrow-circle: "\e93b";
$icon-right-arrow-circle-outline: "\e93c";
$icon-dashboard: "\e93d";
$icon-search: "\e93e";
$icon-table: "\e93f";
$icon-spreadsheet: "\e940";
$icon-at: "\e941";
$icon-file-doc: "\e942";
$icon-file-export: "\e943";
$icon-file-pdf: "\e944";
$icon-minus: "\e945";
$icon-book-content: "\e934";
$icon-border-all: "\e935";
$icon-conversation: "\e936";
$icon-id-card: "\e937";
$icon-user-circle: "\e938";
$icon-wallet: "\e939";
$icon-award: "\e900";
$icon-decoration: "\e901";
$icon-marriage: "\e902";
$icon-medical: "\e903";
$icon-qualification: "\e904";
$icon-service-details: "\e905";
$icon-service: "\e906";
$icon-skill: "\e907";
$icon-tenure: "\e908";
$icon-aperture: "\e909";
$icon-archive-in: "\e90a";
$icon-bell: "\e90b";
$icon-calendar: "\e90c";
$icon-chat: "\e90d";
$icon-chevron-down: "\e90e";
$icon-chevron-left: "\e90f";
$icon-chevron-right: "\e910";
$icon-chevron-up: "\e911";
$icon-clinic: "\e912";
$icon-download: "\e913";
$icon-upload: "\e914";
$icon-comment: "\e915";
$icon-copy: "\e916";
$icon-customize: "\e917";
$icon-dots-horizontal: "\e918";
$icon-dots-vertical: "\e919";
$icon-edit: "\e91a";
$icon-envelope: "\e91b";
$icon-exit: "\e91c";
$icon-exit-fullscreen: "\e91d";
$icon-female: "\e91e";
$icon-file: "\e91f";
$icon-fullscreen: "\e920";
$icon-user-group: "\e921";
$icon-hide: "\e922";
$icon-home: "\e923";
$icon-layout: "\e924";
$icon-lock: "\e925";
$icon-lock-open: "\e926";
$icon-male: "\e927";
$icon-map: "\e928";
$icon-menu: "\e929";
$icon-plus: "\e92a";
$icon-printer: "\e92b";
$icon-save: "\e92c";
$icon-show: "\e92d";
$icon-quote-left: "\e92e";
$icon-quote-right: "\e92f";
$icon-user-detail: "\e930";
$icon-user: "\e931";
$icon-user-voice: "\e932";
$icon-volume-full: "\e933";
$icon-theme: "\e957";
$icon-filter: "\e94c";

