/* ROBOTO */
@font-face {
    font-family: 'robotoCondensedLight';
    src: url('/assets/fonts/roboto/RobotoCondensed-Light.ttf');
}

@font-face {
    font-family: 'robotoCondensedLightItalic';
    src: url('/assets/fonts/roboto/RobotoCondensed-LightItalic.ttf');
}

@font-face {
    font-family: 'robotoCondensedItalic';
    src: url('/assets/fonts/roboto/RobotoCondensed-Italic.ttf');
}

@font-face {
    font-family: 'robotoCondensedRegular';
    src: url('/assets/fonts/roboto/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'robotoCondensedBold';
    src: url('/assets/fonts/roboto/RobotoCondensed-Bold.ttf');
}

/* POPINS */
@font-face {
    font-family: 'popinsLight';
    src: url('/assets/fonts/popins/Poppins-Light.ttf');
}

@font-face {
    font-family: 'popinsRegular';
    src: url('/assets/fonts/popins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'popinsMedium';
    src: url('/assets/fonts/popins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'popinsSemiBold';
    src: url('/assets/fonts/popins/Poppins-SemiBold.ttf');
}