* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: popinsRegular, "Helvetica Neue", sans-serif;
}

html {
    font-size: calc(0.75rem - -0.25 * (100vw - 20rem) / 100);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body { height: 100%; }

body {
    margin: 0;
    font-family: popinsRegular, "Helvetica Neue", sans-serif;
    background: #f2f2f2;
    font-size: 1.125rem!important;
}

h1,
h2,
h3,
h4,
h5 { font-family: popinsRegular, "Helvetica Neue", sans-serif!important; }

::-webkit-scrollbar {
    width: 1.2rem;
    height: 0.5rem;
}
   
::-webkit-scrollbar-track { box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); }
   
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    &:hover {
        background: #a7a7a7;
        cursor: pointer;
    }
}

* {
    scrollbar-color: darkgrey;
    scrollbar-width: thin;
}

a {
    text-decoration: none;
    color: #000000;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

tspan { text-transform: capitalize; }

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #00b8ff;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, 
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), 
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, 
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #00b8ff;
}