$fantacy-c: #5a0274;
$fantacy-b: #9134b7;
$fantacy-a: #ad49c6;
$gradBlackHead: #3d4451;
$lightBlack: #3d445114;
$corporate-a: #2196f3;
$corporate-b: #0D47A1;
$nature-a: #09a9ca;
$nature-b: #52bca0;
$nature-c: #9fcf75;

$bgColor: (
    corporate: #2196f3,
    fantacy: #fb8500,
    nature: #52bca0,
    sideMenu: #ba4f47,
    bgHeader: #4e0192
);

$textColor: (
    theme2: #ffffff
);