.nature {
    .side-menu-collapsed {
        .side-menu {
            .side-menu-list-item {
            
                &:hover {
                    button {
                        background-color: map-get($map: $bgColor, $key: nature) !important;
                    }
                }
            }
            
        }
    }
    .side-menu {
        background: linear-gradient($nature-a, $nature-b, $nature-c) !important;
    }
    #page-topbar {
        background: linear-gradient(98deg, $nature-a 5%, $nature-b 53%, $nature-c 100%);
        #vertical-menu-btn {
             background: $nature-a !important;
            
        }
        .noti-icon i, .header-item {
            color: map-get($map: $textColor, $key: theme2) !important;;
        }
        .logo-white {
            display: block;
            margin-top: 12px;;
        }
        .logo-black {
            display: none;
        }
    }
    input[switch=primary]:checked+label {
        background: map-get($map: $bgColor, $key: nature);

    }
    .icon-demo-content1:hover i {
        color: #570898;
    }
    
    .btn-dark {
        background: $nature-a !important;
    }
    .btn-solid {
        background-color: $nature-c !important;
    }
    .btn-grad {
        background: linear-gradient(to right, $nature-a, $nature-b, $nature-c) !important;

    }   
    
}